body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex; 
    background-color: black;
}   

#clock
{
    font-family: 'Orbitron', sans-serif;
    font-size: 6rem;
    color:green;
}